<mat-toolbar id="top-bar" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <a mat-icon-button routerLink="/home">
    <span class="mat-h2">Berwisata</span>
  </a>
  <span class="flex-spacer"></span>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/customer/account">
        <mat-icon>account_circle</mat-icon>
        <span>Akun Anda</span>
      </button>
      <button mat-menu-item>
        <mat-icon>lock_open</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar id="bottom-bar" color="primary" fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-button routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button routerLink="/catalogue">
    <mat-icon>library_books</mat-icon>
  </button>
  <button mat-button routerLink="/travel-booking">
    <mat-icon>card_travel</mat-icon>
  </button>
</mat-toolbar>
