<mat-toolbar id="top-bar" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <a mat-icon-button routerLink="/home">
    <span class="mat-h2">Berwisata</span>
  </a>
  <span class="flex-spacer"></span>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button aria-label="Akun anda">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar id="bottom-bar" color="primary" fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-button routerLink="/home" routerLinkActive="bg-info">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button routerLink="/catalogue" routerLinkActive="bg-info">
    <mat-icon>library_books</mat-icon>
  </button>
  <button mat-button routerLink="/travel-booking" routerLinkActive="bg-info">
    <mat-icon>card_travel</mat-icon>
  </button>
</mat-toolbar>
