#top-bar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#bottom-bar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-top: 4px solid #3F51B5;
}

#bottom-bar>.text-primary {
  color: #3F51B5 !important;
}

#bottom-bar i {
  padding: 8px;
  cursor: pointer;
}

.badge-notification {
  position: relative;
  margin-right: 10px;
}

.badge-notification[data-badge]::after {
  content: attr(data-badge);
  position: absolute;
  top: 2px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 50%;
  background: #CC0000;
  color: #fff;
}

span.badge-notification {
  margin-right: 24px;
}

span.badge-notification[data-badge]::after {
  top: -11px;
  right: -24px;
}
