<ngx-loading-bar color="#005ae0" height="6px" [includeSpinner]="false"></ngx-loading-bar>
<mat-toolbar id="top-bar" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <a *ngIf="currentRouter.back === true" routerLink="{{currentRouter.back_path}}" class="text-white text-thin">
    <i class="fa fa-times mx-2"></i>
  </a>
  <h2 class="mat-h2" style="max-width: 10em;overflow-wrap: break-word;overflow: hidden;">{{currentRouter.nav_title}}
  </h2>
  <span class="flex-spacer"></span>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button class="badge-notification" data-badge="9+">
      <mat-icon>notifications</mat-icon>
    </button>
    <a mat-icon-button routerLink="/account" routerLinkActive="text-info" aria-label="Akun anda">
      <mat-icon *ngIf="!userProfile.photoUrl">account_circle</mat-icon>
      <img *ngIf="userProfile.photoUrl != ''" src="{{userProfile.photoUrl}}" alt="{{userProfile.name}}"
        class="img-circle" style="width: 24px; height:24px;">
    </a>
  </div>
</mat-toolbar>
<main [@routerTransition]="getState()">
  <router-outlet></router-outlet>
</main>
<mat-toolbar id="bottom-bar" color="white" fxLayout="row" fxLayoutAlign="space-around center">
  <a mat-button routerLink="/home" class="text-secondary" routerLinkActive="text-primary">
    <mat-icon>home</mat-icon>
  </a>
  <a mat-button routerLink="/catalogue" class="text-secondary" routerLinkActive="text-primary">
    <mat-icon>library_books</mat-icon>
  </a>
  <a mat-button routerLink="/travel-booking" class="text-secondary" routerLinkActive="text-primary">
    <mat-icon>card_travel</mat-icon>
  </a>
</mat-toolbar>
