<div fxLayout="row" fxLayout.xs="column" flLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="50%" class="p-10">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left: -16px">Bali 3H2N</mat-card-title>
        <mat-card-subtitle class="text-sm" style="margin-left: -16px">
          Bali, Indonesia
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/paket_wisata/bali.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Paket wisata ke bali dengan durasi 3 hari 2 malam.
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer class="p-10">
        <div class="row">
          <div class="col-6 text-left align-middle">
            <mat-icon class="text-danger">favorite</mat-icon> <span class="text-sm">26</span>
          </div>
          <div class="col-6 text-right">
            <a href="">
              Selengkapnya
            </a>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="50%" class="p-10">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left: -16px">Jogja 3H2N</mat-card-title>
        <mat-card-subtitle class="text-sm" style="margin-left: -16px">
          Yogyakarta, Indonesia
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/paket_wisata/jogja.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Paket wisata ke bali dengan durasi 3 hari 2 malam.
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer class="p-10">
        <div class="row">
          <div class="col-6 text-left">
            <span class="align-middle">
              <i class="fa fa-heart mr-1"></i> <span class="text-sm">26
              </span>
            </span>
          </div>
          <div class="col-6 text-right">
            <a href="">
              Selengkapnya
            </a>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="50%" class="p-10">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left: -16px">Bromo 3H2N</mat-card-title>
        <mat-card-subtitle class="text-sm" style="margin-left: -16px">
          Malang, Indonesia
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/paket_wisata/bromo.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Paket wisata ke bali dengan durasi 3 hari 2 malam.
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer class="p-10">
        <div class="row">
          <div class="col-6 text-left align-middle">
            <mat-icon>favorite</mat-icon> <span class="text-sm">26</span>
          </div>
          <div class="col-6 text-right">
            <a href="">
              Selengkapnya
            </a>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="50%" class="p-10">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left: -16px">Karimun Jawa 3H2N</mat-card-title>
        <mat-card-subtitle class="text-sm" style="margin-left: -16px">
          Jawa Tengah, Indonesia
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/paket_wisata/karimunjawa.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Paket wisata ke bali dengan durasi 3 hari 2 malam.
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer class="p-10">
        <div class="row">
          <div class="col-6 text-left align-middle">
            <mat-icon>favorite</mat-icon> <span class="text-sm">26</span>
          </div>
          <div class="col-6 text-right">
            <a href="">
              Selengkapnya
            </a>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="50%" class="p-10">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left: -16px">Dieng 3H2N</mat-card-title>
        <mat-card-subtitle class="text-sm" style="margin-left: -16px">
          Jawa Tengah, Indonesia
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/paket_wisata/dieng.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Paket wisata ke bali dengan durasi 3 hari 2 malam.
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer class="p-10">
        <div class="row">
          <div class="col-6 text-left align-middle">
            <mat-icon>favorite</mat-icon> <span class="text-sm">26</span>
          </div>
          <div class="col-6 text-right">
            <a href="">
              Selengkapnya
            </a>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div>

</div>
