<div class="row mx-0 my-3">
  <div class="col-sm-12 col-md-6">
    <form #searchForm="ngForm" (ngSubmit)="onSearchSubmit(searchForm)" autocomplete="off" novalidate>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="city" placeholder="Masukan kota tujuan"
          aria-label="Masukan kota tujuan" aria-describedby="basic-addon2" (input)="onSearchChange($event.target.value)"
          ngModel>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search mx-2"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<mat-progress-spinner class="mx-auto my-3" mode="indeterminate" color="primary" value="75" diameter="50"
  *ngIf="showLoading">
</mat-progress-spinner>
<div class="alert alert-info mx-2" *ngIf="paginationTotal == 0">
  <p>Data tidak ditemukan untuk paket wisata ke kota '{{catalogueSearchData.city}}'</p>
</div>
<div class="row mx-0" *ngIf="paginationTotal > 0">
  <div *ngFor="let catalogueList of catalogueListsObservable | async"
    class="col-lg-4 col-md-6 col-sm-12 p-3 card-catalogue">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left: -16px">{{catalogueList.paket_nama}}</mat-card-title>
        <mat-card-subtitle class="text-sm" style="margin-left: -16px">
          <i class="fa fa-map-marker mr-1"></i> {{catalogueList.city_name}}, {{catalogueList.country_name}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/{{catalogueList.paket_img_path}}/{{catalogueList.paket_img_name}}"
        alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p class="row">
          <span class="col-6 text-left">
            <span class="text-block">
              <i class="fa fa-heart mr-1 text-danger"></i>
              <span class="text-sm">26 </span>
            </span>
            <i class="fa fa-briefcase mr-1 text-info"></i>
            <span class="text-sm">97 tour selesai </span>
          </span>
          <span class="col-6 text-right align-middle">
            <span class="text-secondary text-xs text-strike text-block mr-1" *ngIf="catalogueList.promo_st == 'yes'">
              {{catalogueList.harga_normal | currency:"Rp "}}/pax</span>
            <span class="text-bolder"
              *ngIf="catalogueList.promo_st == 'yes'">{{catalogueList.harga_promo | currency:"Rp "}}/pax</span>
            <span class="text-bolder"
              *ngIf="catalogueList.promo_st == 'no'">{{catalogueList.harga_normal | currency:"Rp "}}/pax</span>
          </span>
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer class="p-10">
        <div class="row">
          <div class="col-12 text-right">
            <a routerLink="/catalogue/catalogue-detail/{{catalogueList.paket_id}}">
              Selengkapnya
            </a>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="col-12">
    <ngb-pagination class="d-flex justify-content-center card-catalogue" [collectionSize]="paginationTotal"
      [pageSize]="paginationPerPage" [(page)]="currPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
      (pageChange)="onPageChange(currPage)" size="sm">
    </ngb-pagination>
  </div>
</div>
