/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
  margin: 0;
  padding-top: 60px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-top {
  margin-top: 16px;
}

.horizontal-padding {
  margin-left: 16px;
  margin-right: 16px;
}

.flex-spacer {
  flex: 1 1 auto;
}

.btn-transparent,
button.btn-transparent {
  border: none !important;
  background: none !important;
}

/* Padding dan Margin */
.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

/* Text */
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-thin {
  font-weight: lighter !important;
}

.text-bolder {
  font-weight: bolder !important;
}

.text-lg {
  font-size: large !important;
}

.text-md {
  font-size: medium !important;
}

.text-sm {
  font-size: small !important;
}

.text-xs {
  font-size: x-small !important;
}

/* Pagination */
.pagination,
.pagination li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
