<div class="row mx-0">
  <div class="col-12 py-3 bg-secondary">
    <img src="assets/images/account/armisianto.jpg" class="img-circle mx-auto d-block" alt="">
  </div>
  <div class="col-12 p-3">
    <div class="mx-auto" style="max-width: 50em">
      <a href="#" class="btn btn-sm btn-info float-right">
        <i class="fa fa-edit mx-2"></i> Edit Account
      </a>
      <h6 class="text-bolder my-3">Data Account</h6>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <small class="text-secondary text-block">Nama Lengkap</small>
            Armisianto
          </li>
          <li class="list-group-item">
            <small class="text-secondary text-block">E-Mail</small>
            armisianto@gmail.com
          </li>
          <li class="list-group-item">
            <small class="text-secondary text-block">No Handphone</small>
            081391825544
          </li>
        </ul>
      </div>
    </div>
    <div class="mx-auto" style="max-width: 50em">
      <h6 class="text-bolder my-3">Tanggal Lahir &amp; Jenis Kelamin</h6>
      <div class="card mx-auto">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <small class="text-secondary text-block">Tanggal Lahir</small>
            13 Maret 1993
          </li>
          <li class="list-group-item">
            <small class="text-secondary text-block">Jenis Kelamin</small>
            Laki-laki
          </li>
        </ul>
      </div>
    </div>
    <div class="mx-auto" style="max-width: 50em">
      <h6 class="text-bolder my-3">Riwayat Pemesanan</h6>
      <div class="card mx-auto">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Semua
            <span class="badge badge-primary badge-pill">5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Menunggu Pembayaran
            <span class="badge badge-warning badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Menunggu Liburan
            <span class="badge badge-info badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Selesai
            <span class="badge badge-success badge-pill">2</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
