<div class="row mx-0">
  <div class="col-12 py-3 bg-secondary profile-header">
    <img src="{{userProfile.photoUrl}}" class="img-circle mx-auto d-block" alt="">
  </div>
  <div class="col-12 p-3">
    <div class="mx-auto" style="max-width: 50em">
      <a href="#" class="btn btn-sm btn-info float-right">
        <i class="fa fa-edit mx-2"></i> Edit Account
      </a>
      <h6 class="text-bolder my-3">Data Account</h6>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <small class="text-secondary text-block">Nama Lengkap</small>
            {{ userProfile.name }}
          </li>
          <li class="list-group-item">
            <small class="text-secondary text-block">E-Mail</small>
            {{userProfile.email}}
          </li>
          <li class="list-group-item">
            <small class="text-secondary text-block">No Handphone</small>
            {{userProfile.no_hp}}
          </li>
        </ul>
      </div>
    </div>
    <div class="mx-auto" style="max-width: 50em">
      <h6 class="text-bolder my-3">Tanggal Lahir &amp; Jenis Kelamin</h6>
      <div class="card mx-auto">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <small class="text-secondary text-block">Tanggal Lahir</small>
            {{userProfile.birthday | date:'d MMMM y'}}
          </li>
          <li class="list-group-item">
            <small class="text-secondary text-block">Jenis Kelamin</small>
            <ng-container *ngIf="userProfile.gender == 'Male'">Laki - Laki</ng-container>
            <ng-container *ngIf="userProfile.gender == 'Female'">Perempuan</ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div class="mx-auto" style="max-width: 50em">
      <h6 class="text-bolder my-3">Riwayat Pemesanan</h6>
      <div class="card mx-auto">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Semua
            <span class="badge badge-primary badge-pill">5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Menunggu Pembayaran
            <span class="badge badge-warning badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Menunggu Liburan
            <span class="badge badge-info badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Selesai
            <span class="badge badge-success badge-pill">2</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="mx-auto" style="max-width: 50em">
      <h6 class="text-bolder my-3">Akun Terhubung</h6>
      <div *ngIf="socialAccounts | async as account">
        <button class="btn btn-danger btn-block" type="button" *ngIf="account.GOOGLE"> <i class="fa fa-google mx-2"></i>
          Google</button>
        <button class="btn btn-secondary btn-block" type="button" *ngIf="!account.GOOGLE"
          (click)="connectSocial('GOOGLE')"> <i class="fa fa-google mx-2"></i>
          Hubungkan Google</button>
        <button class="btn btn-primary btn-block" type="button" *ngIf="account.FACEBOOK"> <i
            class="fa fa-facebook mx-2"></i>
          Facebook</button>
        <button class="btn btn-secondary btn-block" type="button" *ngIf="!account.FACEBOOK"
          (click)="connectSocial('FACEBOOK')"> <i class="fa fa-facebook mx-2"></i> Hubungkan
          Facebook</button>
      </div>
      <div *ngIf="!socialAccounts">
        <button class="btn btn-secondary btn-block" type="button"> <i class="fa fa-google mx-2"></i>
          Hubungkan Google</button>
        <button class="btn btn-secondary btn-block" type="button"> <i class="fa fa-facebook mx-2"></i> Hubungkan
          Facebook</button>
      </div>
      <button class="btn btn-md btn-warning btn-block my-4" (click)="logoutProcess()">
        Keluar
      </button>
    </div>
  </div>
</div>
