<mat-tab-group style="margin-bottom: 40px">
  <mat-tab label="Deskripsi">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="margin-left: -16px">Bali 3D2N</mat-card-title>
        <mat-card-subtitle class="text-sm" style="margin-left: -16px">
          <i class="fa fa-map-marker mr-1"></i> Bali, Indonesia
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/paket_wisata/bali.jpg" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p class="row">
          <span class="col-6 text-left">
            <span class="text-block align-middle mr-2">
              <i class="fa fa-heart mr-1 text-danger"></i>
              <span class="text-sm">26 </span>
            </span>
            <i class="fa fa-briefcase mr-1 text-info"></i>
            <span class="text-sm">97 tour selesai </span>
          </span>
          <span class="col-6 text-right align-middle">
            <span class="text-secondary text-xs text-strike text-block mr-1">Rp. 500.000/pax</span>
            <span class="text-bolder">Rp. 450.000/pax</span>
          </span>
        </p>
        <p>
          Paket wisata ke bali dengan durasi 3 hari 2 malam. Paket wisata ini sudah termasuk penginapan, transportasi
          dan akomodasi lainnya ditambah dengan bonus dokumentasi dari tim kami.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Fasilitas">
    <ul class="py-2">
      <li>Trasportasi (Include Driver)</li>
      <li>Snack & Makan</li>
      <li>Dokumentasi <b>Bisa Di Kirim Ke Email atau Media Lain</b> (Cetak dikenakan biaya tambahan)</li>
      <li>Tiket Masuk Obyek Wisata</li>
      <li>Diantar Ke Pusat Oleh-oleh/Cinderamata</li>
    </ul>
  </mat-tab>
  <mat-tab label="Jadwal" class="my-2">
    <ul class="timeline">
      <li>
        <span class="text-info text-bolder">Hari Ke-1</span>
        <ul class="p-1">
          <li><span class="text-block text-sm">08:00</span> Penjemputan</li>
          <li><span class="text-block text-sm">08:00 - 08:30</span>Menuju Penginapan</li>
          <li><span class="text-block text-sm">08:30 - 09:30</span>Ke Obyek Wisata 1 (Pantai Pandawa)</li>
          <li><span class="text-block text-sm">08:00 - 08:30</span>Ke Obyek Wisata 2</li>
          <li><span class="text-block text-sm">08:00 - 08:30</span>Makan Siang</li>
        </ul>
      </li>
      <li>
        <span class="text-info text-bolder">Hari Ke-2</span>
        <ul class="p-1">
          <li><span class="text-block text-sm">08:00</span> Penjemputan</li>
          <li><span class="text-block text-sm">08:00 - 08:30</span>Menuju Penginapan</li>
          <li><span class="text-block text-sm">08:30 - 09:30</span>Ke Obyek Wisata 1 (Pantai Pandawa)</li>
          <li><span class="text-block text-sm">08:00 - 08:30</span>Ke Obyek Wisata 2</li>
          <li><span class="text-block text-sm">08:00 - 08:30</span>Makan Siang</li>
        </ul>
      </li>
      <li>
        <span class="text-info text-bolder">Hari Ke-3</span>
        <ul class="p-1">
          <li><span class="text-block text-sm">08:00</span> Penjemputan</li>
          <li><span class="text-block text-sm">08:00 - 08:30</span>Menuju Penginapan</li>
          <li><span class="text-block text-sm">08:30 - 09:30</span>Ke Obyek Wisata 1 (Pantai Pandawa)</li>
          <li><span class="text-block text-sm">08:00 - 08:30</span>Ke Obyek Wisata 2</li>
          <li><span class="text-block text-sm">08:00 - 08:30</span>Makan Siang</li>
        </ul>
      </li>
    </ul>
    <p class="p-2 text-bolder">Jadwal di atas dapat berubah sesuai kondisi dilapangan</p>
  </mat-tab>
</mat-tab-group>
<div class="p-2 floating">
  <button class="btn btn-md btn-block btn-success">
    Pesan Sekarang
  </button>
</div>
